<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<a th:href="@{/animal/listado}">Volver al listado de Animales</a><br>
<a th:href="@{'/animal/ver/' + ${arbol.get(0).idA}(format=pdf)}" target="_blank">PDF</a><br>
	<table width="100%" style="border-collapse: collapse;">
		<tr>
			<td colspan="16" style="text-align: center">
				<div th:replace="layout/layout :: toro(ntoro='0')"></div>
			</td>
		</tr>

<tr>
<td colspan="8" style="border-right:2px solid black;">&nbsp;</td><td colspan="8">&nbsp;</td>
</tr>
	
<tr>	
<td colspan="4">&nbsp;</td><td colspan="4" style="border-left:2px solid black;border-top:2px solid black;">&nbsp;</td>
<td colspan="4" style="border-right:2px solid black;border-top:2px solid black;">&nbsp;</td><td colspan="4">&nbsp;</td>		
</tr>

		<tr>
			<td colspan="8" style="text-align: center">
				<div th:replace="layout/layout :: toro(ntoro='1')"></div>
			</td>
			<td colspan="8" style="text-align: center">
				<div th:replace="layout/layout :: toro(ntoro='2')"></div>
			</td>
		</tr>

<tr>
<td colspan="4" style="border-right:2px solid black;">&nbsp;</td><td colspan="4">&nbsp;</td>
<td colspan="4" style="border-right:2px solid black;">&nbsp;</td><td colspan="4">&nbsp;</td>
</tr>

<tr>
<td colspan="2">&nbsp;</td><td colspan="2" style="border-left:2px solid black;border-top:2px solid black;">&nbsp;</td>
<td colspan="2" style="border-right:2px solid black;border-top:2px solid black;">&nbsp;</td><td colspan="2">&nbsp;</td>
<td colspan="2">&nbsp;</td><td colspan="2" style="border-left:2px solid black;border-top:2px solid black;">&nbsp;</td>
<td colspan="2" style="border-right:2px solid black;border-top:2px solid black;">&nbsp;</td><td colspan="2">&nbsp;</td>	
</tr>


		<tr>
			<td colspan="4" style="text-align: center">
				<div th:replace="layout/layout :: toro(ntoro='3')"></div>
			</td>
			<td colspan="4" style="text-align: center">

				<div th:replace="layout/layout :: toro(ntoro='4')"></div>
			</td>
			<td colspan="4" style="text-align: center">

				<div th:replace="layout/layout :: toro(ntoro='5')"></div>
			</td>
			<td colspan="4" style="text-align: center">
				<div th:replace="layout/layout :: toro(ntoro='6')"></div>
			</td>
		</tr>

<tr>
<td colspan="2" style="border-right:2px solid black;">&nbsp;</td><td colspan="2">&nbsp;</td>
<td colspan="2" style="border-right:2px solid black;">&nbsp;</td><td colspan="2">&nbsp;</td>
<td colspan="2" style="border-right:2px solid black;">&nbsp;</td><td colspan="2">&nbsp;</td>
<td colspan="2" style="border-right:2px solid black;">&nbsp;</td><td colspan="2">&nbsp;</td>
</tr>

<tr>
<td>&nbsp;</td><td style="border-left:2px solid black;border-top: 2px solid black;">&nbsp;</td>
<td style="border-right:2px solid black;border-top: 2px solid black;">&nbsp;</td><td>&nbsp;</td>
<td>&nbsp;</td><td style="border-left:2px solid black;border-top: 2px solid black;">&nbsp;</td>
<td style="border-right:2px solid black;border-top: 2px solid black;">&nbsp;</td><td>&nbsp;</td>
<td>&nbsp;</td><td style="border-left:2px solid black;border-top: 2px solid black;">&nbsp;</td>
<td style="border-right:2px solid black;border-top: 2px solid black;">&nbsp;</td><td>&nbsp;</td>
<td>&nbsp;</td><td style="border-left:2px solid black;border-top: 2px solid black;">&nbsp;</td>
<td style="border-right:2px solid black;border-top: 2px solid black;">&nbsp;</td><td>&nbsp;</td>
</tr>

		<tr>
			<td colspan="2" style="text-align: center">
				<div th:replace="layout/layout :: toro(ntoro='7')"></div>
			</td>
			<td colspan="2" style="text-align: center">
				<div th:replace="layout/layout :: toro(ntoro='8')"></div>
			</td>
			<td colspan="2" style="text-align: center">
				<div th:replace="layout/layout :: toro(ntoro='9')"></div>
			</td>
			<td colspan="2" style="text-align: center">
				<div th:replace="layout/layout :: toro(ntoro='10')"></div>
			</td>
			<td colspan="2" style="text-align: center">
				<div th:replace="layout/layout :: toro(ntoro='11')"></div>
			</td>
			<td colspan="2" style="text-align: center">
				<div th:replace="layout/layout :: toro(ntoro='12')"></div>
			</td>
			<td colspan="2" style="text-align: center">
				<div th:replace="layout/layout :: toro(ntoro='13')"></div>
			</td>
			<td colspan="2" style="text-align: center">
				<div th:replace="layout/layout :: toro(ntoro='14')"></div>
			</td>
		</tr>

	</table>

</body>
</html>