<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

<!-- Elementos básicos del head -->
<th:block th:fragment="head-basico">
	<meta charset="UTF-8">
	<title th:text="${titulo}"></title>
</th:block>

<!-- CSS Bootstrap -->
<th:block th:fragment="bootstrap-css">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</th:block>

<!-- CSS jquery ui -->
<th:block th:fragment="jquery-ui-css">
	<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
</th:block>

<!-- CSS Generales -->
<th:block th:fragment="general-css">
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
</th:block>

</head>

<body>

<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  	<span class="navbar-brand" th:text="${applicationData.name}"></span>
    <img th:src="@{/images/logo.png}" width="80px">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      	<li th:each="generalOption : ${applicationData.generalOptions}">
      		<a class="nav-link" th:classappend="${#strings.equals(generalOption.key,optionCode) ? 'active' : ''}" th:href="@{${generalOption.value.link}}"
      			th:text="${generalOption.value.name}"></a>
      	</li>
      </ul>
      <div class="navbar-text ">
        <span sec:authentication="name" class="d-inline-block me-2" ></span>
        <form method="post" th:action="@{/logout}" class="d-inline-block">
			<input type="submit" value="Salir" class="btn btn-secondary py-1 px-2">
		</form>
       </div>
    </div>
  </div>
</nav>

	<!-- Título de la pantalla -->
	<div th:fragment="titulo-pantalla" class="titulo-pantalla py-1 text-center position-relative">
		<div th:if="${!applicationData.isMainScreen(optionCode,screen)}" class="position-absolute mt-1 ms-3 d-none d-md-block">
		   <a class="fst-italic fw-light" th:href="@{${applicationData.getMainScreenLink(optionCode)}}" th:text="${'Volver a '+applicationData.getMainScreenName(optionCode)}"></a>
		</div>
		<h1 th:text="${applicationData.getScreenName(optionCode,screen)}"></h1>
	</div>

	<!-- Zona de mensajes superior (flash mensajes) -->
	<div th:fragment="zona-mensajes">
		<div th:if="${error!=null}" th:text="${error}"
			class="bg-danger py-2 text-center text-white"></div>
		<div th:if="${info!=null}" th:text="${info}"
			class="py-2 text-center text-info border-bottom border-info"></div>
		<div th:if="${warning!=null}" th:text="${warning}"
			class="bg-warning py-2 text-center text-white"></div>
		<div th:if="${success!=null}" th:text="${success}"
			class=" py-2 text-center text-success border-bottom border-success"></div>
	</div>


	<!-- paginator -->
	
	<nav aria-label="..." th:fragment="paginator">
		<ul class="pagination pagination-sm justify-content-end">
			<li class="page-item" th:classappend="${paginator.first ? 'disabled' : ''}">
				<a class="page-link fw-bold" th:href="@{${paginator.url}(page=0)}">|&lt;</a>
			</li>
			<li class="page-item" th:classappend="${not paginator.hasPrevious ? 'disabled' : ''}">
			  <a class="page-link fw-bold" th:href="@{${paginator.url}(page=${paginator.actualPage-2})}">&lt;&lt;</a>
			</li>
			<th:block th:each="cuadro: ${paginator.pageItems}">
			<li class="page-item" th:classappend="${cuadro.actual ? 'active' : ''}">
				<a class="page-link" 
					th:if="${cuadro.actual}"
					href="#"
					th:text="${cuadro.pageNumber}">
				</a>
				<a class="page-link" 
					th:if="${not cuadro.actual}"
					th:href="@{${paginator.url}(page=${cuadro.pageNumber-1})}"
					th:text="${cuadro.pageNumber}">
				</a>
			</li>
			</th:block>
			<li class="page-item" th:classappend="${not paginator.hasNext ? 'disabled' : ''}">
				<a class="page-link fw-bold" th:href="@{${paginator.url}(page=${paginator.actualPage})}">&gt;&gt;</a>
			</li>
			<li class="page-item" th:classappend="${paginator.last ? 'disabled' : ''}">
				<a class="page-link fw-bold" th:href="@{${paginator.url}(page=${paginator.totalPages-1})}">&gt;|</a>
			</li>
		</ul>
	</nav>


	<!-- Toro en Árbol -->
	<div th:fragment="toro (ntoro)">
		<div th:if="${arbol.get(ntoro)==null}">
			<img class="shadow" th:src="@{'/images/notoro.png'}" width="100px"><br> <span>???</span>
			<div>
				<img th:src="@{'/images/nohierro.png'}" width="30px"> <span>???</span>
			</div>
		</div>

		<div th:if="${arbol.get(ntoro)!=null}">
			<a th:href="@{'/animales/ver/' + ${arbol.get(ntoro).idA}}" th:if="${arbol.get(ntoro).fotoA != null}">
			<img class="shadow" 
				th:src="@{'/uploads/' + ${arbol.get(ntoro).fotoA}}" width="100px"></a>
			
			<a th:href="@{'/animales/ver/' + ${arbol.get(ntoro).idA}}" th:if="${arbol.get(ntoro).fotoA == null}">
			<img class="shadow" 
				th:src="@{'/images/notoro.png'}" width="100px"></a>
			
			 <br> <span
				th:text="${#strings.toUpperCase(arbol.get(ntoro).nombreA)} + ' (' + ${arbol.get(ntoro).sexoA} +')'"></span><br>


			<div th:if="${arbol.get(ntoro).ganaderiaA == null}">
				<img th:src="@{'/images/nohierro.png'}" width="30px"> <span>???</span>
			</div>

			<div th:if="${arbol.get(ntoro).ganaderiaA != null}">
				<img class="shadow" th:if="${arbol.get(ntoro).ganaderiaA.hierroGan != null}"
					th:src="@{'/uploads/' + ${arbol.get(ntoro).ganaderiaA.hierroGan}}"
					width="30px"> 
					<img 
					th:if="${arbol.get(ntoro).ganaderiaA.hierroGan == null}"
					th:src="@{'/images/nohierro.png'}" width="30px"> <span
					th:text="${arbol.get(ntoro).ganaderiaA.nombreGan}"></span>
			</div>
		</div>
	</div>

<!-- Cuadro de Confirmación  -->
<div th:fragment="confirmar" class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="modalConfirmacionTitulo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalConfirmacionTitulo"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalConfirmacionCuerpo"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary cancelar" data-bs-dismiss="modal">Cancelar</button>
        <a href="#" type="button" class="btn boton-normal" id="modalOk">Ok</a>
      </div>
    </div>
  </div>
</div>

<!-- COPYRIGHT INFERIOR -->
<div class="autoria py-2 mt-5 small text-center" th:fragment="autoria">
	<a th:href="@{${applicationData.webUrl}}" th:text="${applicationData.authorship}" target="_blank"></a>
</div>

	<div th:fragment="jquery-js">
		<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
	</div>
	<div th:fragment="jquery-ui-js">
		<script th:src="@{/js/jquery-ui.min.js}"></script>
	</div>
	<div th:fragment="bootstrap-js">
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
	</div>
</body>
</html>