<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
</head>

<body>


	<!-- paginador -->
	<nav th:fragment="paginador">
		<ul>
			<li><span th:if="${paginador.first}">Primera</span> <a
				th:if="${not paginador.first}"
				th:href="@{${paginador.url}(pagina=0)}">Primera</a></li>
			<li><span th:if="${not paginador.hasPrevious}">Anterior</span> <a
				th:if="${paginador.hasPrevious}"
				th:href="@{${paginador.url}(pagina=${paginador.paginaActual-2})}">Anterior</a>
			</li>


			<li th:each="cuadro: ${paginador.paginaItems}"><span
				th:if="${cuadro.actual}" th:text="${cuadro.numero}"></span> <a
				th:if="${not cuadro.actual}"
				th:href="@{${paginador.url}(pagina=${cuadro.numero-1})}"
				th:text="${cuadro.numero}"></a></li>

			<li><span th:if="${not paginador.hasNext}">Siguiente</span> <a
				th:if="${paginador.hasNext}"
				th:href="@{${paginador.url}(pagina=${paginador.paginaActual})}">Siguiente</a>
			</li>

			<li><span th:if="${paginador.last}">Última</span> <a
				th:if="${not paginador.last}"
				th:href="@{${paginador.url}(pagina=${paginador.totalPaginas-1})}">Última</a>
			</li>
		</ul>
	</nav>


	<!-- Toro en Árbol -->
	<div th:fragment="toro (ntoro)">
		<div th:if="${arbol.get(ntoro)==null}">
			<img th:src="@{'/images/notoro.jpg'}" width="100px"><br> <span>???</span>
			<div>
				<img th:src="@{'/images/nohierro.png'}" width="30px"> <span>???</span>
			</div>
		</div>

		<div th:if="${arbol.get(ntoro)!=null}">
			<img th:if="${arbol.get(ntoro).fotoA != null}"
				th:src="@{'/uploads/' + ${arbol.get(ntoro).fotoA}}" width="100px">
			<img th:if="${arbol.get(ntoro).fotoA == null}"
				th:src="@{'/images/notoro.jpg'}" width="100px"> <br> <span
				th:text="${#strings.toUpperCase(arbol.get(ntoro).nombreA)} + ' (' + ${arbol.get(ntoro).sexoA} +')'"></span><br>


			<div th:if="${arbol.get(ntoro).ganaderiaA == null}">
				<img th:src="@{'/images/nohierro.png'}" width="30px"> <span>???</span>
			</div>

			<div th:if="${arbol.get(ntoro).ganaderiaA != null}">
				<img th:if="${arbol.get(ntoro).ganaderiaA.hierroGan != null}"
					th:src="@{'/uploads/' + ${arbol.get(ntoro).ganaderiaA.hierroGan}}"
					width="30px"> <img
					th:if="${arbol.get(ntoro).ganaderiaA.hierroGan == null}"
					th:src="@{'/images/nohierro.png'}" width="30px"> <span
					th:text="${arbol.get(ntoro).ganaderiaA.nombreGan}"></span>
			</div>
		</div>
	</div>


	<div th:fragment="javascript">
		<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
	</div>
</body>
</html>