<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<h1 th:text="${titulo}"></h1>

<a th:href="@{/ganaderia/listado}">Volver al listado de Ganaderías</a><br>

<form th:object="${ganaderia}" method="post" th:action="@{/ganaderia/form}" enctype="multipart/form-data">
<div>
<label>Código</label>
<input type="text" th:field="*{codigoGan}">
<div th:if="${#fields.hasErrors('codigoGan')}" th:uerrors="*{codigoGan}"></div>
</div>
<div>
<label>Nombre</label>
<input type="text" th:field="*{nombreGan}">
<div th:if="${#fields.hasErrors('nombreGan')}" th:uerrors="*{nombreGan}"></div>
</div>
<div>
<label>Hierro</label>
<input type="file" name="hierrogan">
</div>
<div>
<input sec:authorize="hasRole('ROLE_ADMIN')" type="submit" value="Enviar">
<input sec:authorize="!hasRole('ROLE_ADMIN')" type="submit" value="Enviar" disabled>
</div>
</form>

<div th:replace="layout/layout :: jquery"></div>
</body>
</html>