<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

<div th:if="${success!=null}" th:text="${success}"></div>
<div th:if="${error!=null}" th:text="${error}"></div>
<div th:if="${warning!=null}" th:text="${warning}"></div>
<div th:if="${info!=null}" th:text="${info}"></div>

<h1 th:text="${titulo}"></h1>
<a th:href="@{/}">Menú Principal</a><br>

<a th:href="@{/ganaderia/form}">Alta Ganaderia</a>

<p th:if="${numeroganaderias==0}">No hay ganaderías que  mostrar</p>
<p th:if="${numeroganaderias==1}" th:text="${'Listando '+numeroganaderias+' ganaderia'}"></p>
<p th:if="${numeroganaderias>1}" th:text="${'Listando '+numeroganaderias+' ganaderias'}"></p>
<table th:if="${numeroganaderias>0}">
<thead>
	<tr>
	<th>IdGan</th>
	<th>CodigoGan</th>
	<th>NombreGan</th>
	<th>Hierro</th>
	<th>Opciones</th>
	</tr>
</thead>
<tbody>
<tr th:each="ganaderia: ${ganaderias}">
	<td th:text="${ganaderia.idGan}"></td>
	<td th:text="${ganaderia.codigoGan}"></td>
	<td th:text="${ganaderia.nombreGan}"></td>
	<td><img th:if="${ganaderia.hierroGan != null}" th:src="@{'/uploads/' + ${ganaderia.hierroGan}}" width="100px">
		<img th:if="${ganaderia.hierroGan == null}" th:src="@{'/images/nohierro.png'}" width="20px"></img>
	</td>
	<td><a th:href="@{'/ganaderia/form/'+${ganaderia.idGan}}">Modificar</a> 
		<a th:href="@{'/ganaderia/eliminar/'+${ganaderia.idGan}}">Eliminar</a>
	</tr>
</tbody>
</table>
<nav th:replace="layout/layout :: paginador"></nav>

<div th:replace="layout/layout :: javascript"></div>
</body>
</html>