<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<a th:href="@{/ganaderia/form}">Alta Ganaderia</a>

<table>
<thead>
	<tr>
	<th>IdGan</th>
	<th>CodigoGan</th>
	<th>NombreGan</th>
	<th>Opciones</th>
	</tr>
</thead>
<tbody>
<tr th:each="ganaderia: ${ganaderias}">
	<td th:text="${ganaderia.idGan}"></td>
	<td th:text="${ganaderia.codigoGan}"></td>
	<td th:text="${ganaderia.nombreGan}"></td>
	<td><a th:href="@{'/ganaderia/form/'+${ganaderia.idGan}}">Modificar</a> 
		<a th:href="@{'/ganaderia/eliminar/'+${ganaderia.idGan}}">Eliminar</a>
	</tr>
</tbody>
</table>

</body>
</html>