<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<th:block th:replace="layout/layout :: head-basico"></th:block>
<th:block th:replace="layout/layout :: bootstrap-css"></th:block>
<th:block th:replace="layout/layout :: general-css"></th:block>
<body>
<nav th:replace="layout/layout :: menu(2)"></nav>
<div th:replace="layout/layout :: titulo-pantalla"></div>
<div th:replace="layout/layout :: zona-mensajes"></div>


<a th:href="@{/ganaderia/form}">Alta Ganaderia</a>

<p th:if="${numeroganaderias==0}">No hay ganaderías que  mostrar</p>
<p th:if="${numeroganaderias==1}" th:text="${'Listando '+numeroganaderias+' ganaderia'}"></p>
<p th:if="${numeroganaderias>1}" th:text="${'Listando '+numeroganaderias+' ganaderias'}"></p>
<table th:if="${numeroganaderias>0}">
<thead>
	<tr>
	<th>IdGan</th>
	<th>CodigoGan</th>
	<th>NombreGan</th>
	<th>Hierro</th>
	<th>Opciones</th>
	</tr>
</thead>
<tbody>
<tr th:each="ganaderia: ${ganaderias}">
	<td th:text="${ganaderia.idGan}"></td>
	<td th:text="${ganaderia.codigoGan}"></td>
	<td th:text="${ganaderia.nombreGan}"></td>
	<td><img th:if="${ganaderia.hierroGan != null}" th:src="@{'/uploads/' + ${ganaderia.hierroGan}}" width="100px">
		<img th:if="${ganaderia.hierroGan == null}" th:src="@{'/images/nohierro.png'}" width="20px"></img>
	</td>
	<td><a th:href="@{'/ganaderia/form/'+${ganaderia.idGan}}">Modificar</a> 
	
		
		<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/ganaderia/eliminar/'+${ganaderia.idGan}}">Eliminar</a>
		<span sec:authorize="!hasRole('ROLE_ADMIN')">Eliminar</span>
	</tr>
</tbody>
</table>
<nav th:replace="layout/layout :: paginador"></nav>

<div th:insert="layout/layout :: jquery-js"></div>
<div th:insert="layout/layout :: bootstrap-js"></div>
</body>
</html>