<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<body>

<div th:if="${error!=null}" th:text="${error}"></div>
<div th:if="${info!=null}" th:text="${info}"></div>



<form method="post" th:action="@{/login}">
  <div class="mb-3">
    <input type="text" class="form-control" id="username" name="username" placeholder="Username" autofocus required>
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div th:replace="layout/layout :: jquery"></div>
<!-- <div th:replace="layout/layout :: bootstrap"></div> -->
</body>
</html>