<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:replace="layout/layout :: head-basico"></th:block>
<th:block th:replace="layout/layout :: bootstrap-css"></th:block>
<th:block th:replace="layout/layout :: general-css"></th:block>
</head>
<body>
<nav th:replace="layout/layout :: menu"></nav>
<div th:replace="layout/layout :: titulo-pantalla"></div>
<div th:replace="layout/layout :: zona-mensajes"></div>

<div th:replace="layout/layout :: confirmar"></div>

<div class="container py-1">

	<div class="row mt-3 opciones-generales">
		<div class="col-2">
			<a class="btn boton-normal" th:href="@{/ganaderias/form}" th:text="${datosAplicacion.getScreenName(optionCode,'CREATE')}"></a>
		</div>
		<div class="col-10">
		
		<th:block th:if="${numeroganaderias>0}">
		  <nav th:if="${numeroganaderias>0}" th:replace="layout/layout :: paginador"></nav>
		</th:block> 
		</div>
	</div>

<h5 class="text-center my-5 mx-5" th:if="${numeroganaderias==0}" th:text="${datosAplicacion.getEmptyMessage(optionCode)}"></h5>

<table th:if="${numeroganaderias>0}" class="table table-striped">
<thead>
	<tr>
		<th scope="col">Id</th>
		<th scope="col">Código</th>
		<th scope="col">Nombre</th>
		<th scope="col">Hierro</th>
		<th scope="col">Opciones</th>
	</tr>
</thead>
<tbody>
<tr th:each="ganaderia: ${ganaderias}">
	<td th:text="${ganaderia.idGan}"></td>
	<td th:text="${ganaderia.codigoGan}"></td>
	<td th:text="${ganaderia.nombreGan}"></td>
	<td><img th:if="${ganaderia.hierroGan != null}" 
			th:src="@{'/uploads/' + ${ganaderia.hierroGan}}" width="30px" 
			class="border border-white shadow">
		<img th:if="${ganaderia.hierroGan == null}" th:src="@{'/images/nohierro.png'}" width="30px"></img>
	</td>
	<td>
		<a th:href="@{'/ganaderias/form/'+${ganaderia.idGan}}" title="Modificar"><svg th:replace="/layout/iconos_svg :: svg-modificar"></svg></a>
		<a sec:authorize="hasRole('ROLE_ADMIN')" href="#" title="Eliminar" th:attr="onclick=|mostrarConfirmacionEliminar('${ganaderia.idGan}','${ganaderia.nombreGan}')|"><svg th:replace="/layout/iconos_svg :: svg-eliminar"></svg></a>
		<span sec:authorize="!hasRole('ROLE_ADMIN')"><svg th:replace="/layout/iconos_svg :: svg-eliminar"></svg></span>
	</tr>
</tbody>
</table>

<th:block th:if="${numeroganaderias>0}">
	<nav th:replace="layout/layout :: paginador"></nav>
</th:block>

</div>

<div th:replace="layout/layout :: autoria"></div>

<div th:insert="layout/layout :: jquery-js"></div>
<div th:insert="layout/layout :: bootstrap-js"></div>

<script
		th:replace="ganaderias/js/confirmacion-eliminar :: confirmacion-eliminar"></script>
	
</body>
</html>